body{
    background-color: rgb(229, 195, 195);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
    flex-direction: column;
}


.grid-container{
    display: grid;
    grid-template-columns: repeat(16, 1fr); /* 8 equal columns */
    grid-template-rows: repeat(4, 100px); /* 4 rows */
    gap: 1rem;
    width: 100%;
    max-width: 90%;
}

.grid-item {
    background-color: #3498db;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    border-radius: 5%;
    font-weight: bold;
    transition: ease-in-out 200ms;
}

.grid-item:hover {
    transform: scale(1.05);
    cursor: pointer;
}


.grid-item:active{
    background-color: #f0f0f0;
    transition: ease-in-out 20ms;
}

.activeState{
    background-color: black;
}

.gap-right{
    margin-right: 0.75rem;
}

.play{
    width:5rem;
    height:5rem;
    border-radius: 5%;
    background-color: rgb(160, 158, 158);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right:1rem;
    margin-top:2rem;
    transition: ease-in-out 100ms;

}

.play:hover{
    cursor: pointer;
    transform: scale(1.2);
}

.play:active{
    cursor: pointer;
    background-color: rgb(199, 38, 38);
    transition: ease-in-out 20ms;
}

.highlighted{
    background-color: red;
}